/* === Navigation === */
.main-nav {  }
	.main-nav > li {
		display: inline-block;
		float: left;
		margin-right: 5px;
		position: relative;
		width: auto;
	}
	.main-nav > li:last-of-type { margin-right: 0; }
		.main-nav a {
			background: lightgray;
			display: block;
			padding: 5px;
		}
		.main-nav > li > ul {
			display: none;
			position: absolute;
				left: 0; top: 100%;
		}
		.main-nav > li:hover > ul { display: block; z-index: 1000; }