article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display:block; }
audio, canvas, video {
  display:inline-block;
  *display:inline;
  *zoom:1;
}
audio:not([controls]) { display:none; }
[hidden] { display:none; }
html {
  font-size:100%;
  overflow-y:scroll;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}
body {
  margin:0;
  font-family:arial, sans-serif;
  font-size:13px;
  line-height:1.231;
}
body, button, input, select, textarea {
  font-family:sans-serif;
  color:#222222;
}
::-moz-selection {
  background:rgba(98,143,83,0.8);
  color:#ffffff;
  text-shadow:none;
}
::selection {
  background:rgba(98,143,83,0.8);
  color:#ffffff;
  text-shadow:none;
}
abbr[title] { border-bottom:1px dotted; }
b, strong { font-weight:bold; }
blockquote { margin:1em 40px; }
dfn { font-style:italic; }
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}
ins {
  background:#ffff99;
  color:#000000;
  text-decoration:none;
}
mark {
  background:#ffff00;
  color:#000000;
  font-style:italic;
  font-weight:bold;
}
pre, code, kbd, samp {
  font-family:monospace, monospace;
  _font-family:'courier new', monospace;
  font-size:1em;
}
pre {
  white-space:pre;
  white-space:pre-wrap;
  word-wrap:break-word;
}
q { quotes:none; }
q:before, q:after {
  content:"";
  content:none;
}
small { font-size:85%; }
sub, sup {
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}
sup { top:-0.5em; }
sub { bottom:-0.25em; }
ul, ol {
  margin:1em 0;
  padding:0 0 0 40px;
}
dd { margin:0 0 0 40px; }
nav ul, nav ol {
  list-style:none;
  list-style-image:none;
  margin:0;
  padding:0;
}
img {
  border:0;
  -ms-interpolation-mode:bicubic;
  vertical-align:middle;
}
svg:not(:root) { overflow:hidden; }
figure { margin:0; }
form { margin:0; }
fieldset {
  border:0;
  margin:0;
  padding:0;
}
label { cursor:pointer; }
legend {
  border:0;
  *margin-left:-7px;
  padding:0;
}
button, input, select, textarea {
  font-size:100%;
  margin:0;
  vertical-align:baseline;
  *vertical-align:middle;
}
button, input {
  line-height:normal;
  *overflow:visible;
}
table button, table input { *overflow:auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor:pointer;
  -webkit-appearance:button;
}
input[type="checkbox"], input[type="radio"] { box-sizing:border-box; }
input[type="search"] {
  -webkit-appearance:textfield;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
}
input[type="search"]::-webkit-search-decoration { -webkit-appearance:none; }
button::-moz-focus-inner, input::-moz-focus-inner {
  border:0;
  padding:0;
}
textarea {
  overflow:auto;
  vertical-align:top;
  resize:vertical;
}
input:invalid, textarea:invalid { background-color:#f0dddd; }
table {
  border-collapse:collapse;
  border-spacing:0;
}
td { vertical-align:top; }
body { background:#ffffff; }
a { color:#0000ee; }
a:hover { color:#0c4e95; }
a:focus { outline:thin dotted; }
a:hover, a:active { outline:0; }
input, textarea {
  background:#ffffff;
  color:#cccccc;
  border:1px solid #cccccc;
  padding:5px;
}
input:focus, textarea:focus {
  border-color:#aaaaaa;
  color:#aaaaaa;
}
.ir {
  display:block;
  border:0;
  text-indent:-999em;
  overflow:hidden;
  background-color:transparent;
  background-repeat:no-repeat;
  text-align:left;
  direction:ltr;
}
.ir br { display:none; }
.hidden {
  display:none !important;
  visibility:hidden;
}
.visuallyhidden {
  border:0;
  clip:rect(0 0 0 0);
  height:1px;
  margin:-1px;
  overflow:hidden;
  padding:0;
  position:absolute;
  width:1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip:auto;
  height:auto;
  margin:0;
  overflow:visible;
  position:static;
  width:auto;
}
.invisible { visibility:hidden; }
.clearfix:before, .clearfix:after {
  content:"";
  display:table;
}
.clearfix:after { clear:both; }
.clearfix { zoom:1; }
.left { float:left; }
.right { float:right; }
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
}
@media only screen and (min-width: 768px) {
}
@media print {
  * {
    background:transparent !important;
    color:black !important;
    text-shadow:none !important;
    filter:none !important;
    -ms-filter:none !important;
  }
  a, a:visited { text-decoration:underline; }
  a[href]:after { content:" (" attr(href) ")"; }
  abbr[title]:after { content:" (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }
  pre, blockquote {
    border:1px solid #999999;
    page-break-inside:avoid;
  }
  thead { display:table-header-group; }
  tr, img { page-break-inside:avoid; }
  img { max-width:100% !important; }
  p, h2, h3 {
    orphans:3;
    widows:3;
  }
  h2, h3 { page-break-after:avoid; }
}
.container { padding:0 20px; }
.row {
  width:100%;
  max-width:980px;
  min-width:727px;
  margin:0 auto;
}
.row .row { min-width:0; }
.column, .columns {
  margin-left:4.4%;
  float:left;
  min-height:1px;
  position:relative;
}
.column:first-child, .columns:first-child { margin-left:0; }
.row .one.columns { width:4.3%; }
.row .two.columns { width:13%; }
.row .three.columns { width:21.68%; }
.row .four.columns { width:30.37%; }
.row .five.columns { width:39.1%; }
.row .six.columns { width:47.8%; }
.row .seven.columns { width:56.5%; }
.row .eight.columns { width:65.2%; }
.row .nine.columns { width:73.9%; }
.row .ten.columns { width:82.6%; }
.row .eleven.columns { width:91.3%; }
.row .twelve.columns { width:100%; }
.row .offset-by-one { margin-left:13.1%; }
.row .offset-by-two { margin-left:21.8%; }
.row .offset-by-three { margin-left:30.5%; }
.row .offset-by-four { margin-left:39.2%; }
.row .offset-by-five { margin-left:47.9%; }
.row .offset-by-six { margin-left:56.6%; }
.row .offset-by-seven { margin-left:65.3%; }
.row .offset-by-eight { margin-left:74.0%; }
.row .offset-by-nine { margin-left:82.7%; }
.row .offset-by-ten { margin-left:91.4%; }
.row .centered {
  float:none;
  margin:0 auto;
}
.row .offset-by-one:first-child { margin-left:8.7%; }
.row .offset-by-two:first-child { margin-left:17.4%; }
.row .offset-by-three:first-child { margin-left:26.1%; }
.row .offset-by-four:first-child { margin-left:34.8%; }
.row .offset-by-five:first-child { margin-left:43.5%; }
.row .offset-by-six:first-child { margin-left:52.2%; }
.row .offset-by-seven:first-child { margin-left:60.9%; }
.row .offset-by-eight:first-child { margin-left:69.6%; }
.row .offset-by-nine:first-child { margin-left:78.3%; }
.row .offset-by-ten:first-child { margin-left:87%; }
.row .offset-by-eleven:first-child { margin-left:95.7%; }
.push-two { left:17.4%; }
.push-three { left:26.1%; }
.push-four { left:34.8%; }
.push-five { left:43.5%; }
.push-six { left:52.2%; }
.push-seven { left:60.9%; }
.push-eight { left:69.6%; }
.push-nine { left:78.3%; }
.push-ten { left:87%; }
.pull-two { right:17.4%; }
.pull-three { right:26.1%; }
.pull-four { right:34.8%; }
.pull-five { right:43.5%; }
.pull-six { right:52.2%; }
.pull-seven { right:60.9%; }
.pull-eight { right:69.6%; }
.pull-nine { right:78.3%; }
.pull-ten { right:87%; }
img, object, embed {
  max-width:100%;
  height:auto;
}
img { -ms-interpolation-mode:bicubic; }
.row:before, .row:after, .clearfix:before, .clearfix:after {
  content:"";
  display:table;
}
.row:after, .clearfix:after { clear:both; }
.row, .clearfix { zoom:1; }
.block-grid {
  display:block;
  overflow:hidden;
}
.block-grid>li {
  display:block;
  height:auto;
  float:left;
}
.block-grid.two-up { margin-left:-4%; }
.block-grid.two-up>li {
  margin-left:4%;
  width:46%;
}
.block-grid.three-up { margin-left:-2%; }
.block-grid.three-up>li {
  margin-left:2%;
  width:31.3%;
}
.block-grid.four-up { margin-left:-2%; }
.block-grid.four-up>li {
  margin-left:2%;
  width:23%;
}
.block-grid.five-up { margin-left:-1.5%; }
.block-grid.five-up>li {
  margin-left:1.5%;
  width:18.5%;
}
@media handheld, only screen and (max-width: 767px) {
  h1 {
    font-size:32px;
    font-size:3.2rem;
    line-height:1.3;
  }
  h2 {
    font-size:28px;
    font-size:2.8rem;
    line-height:1.3;
  }
  h3 {
    font-size:21px;
    font-size:2.1rem;
    line-height:1.3;
  }
  h4 {
    font-size:18px;
    font-size:1.8rem;
    line-height:1.2;
  }
  h5 {
    font-size:16px;
    font-size:1.6rem;
    line-height:1.2;
  }
  h6 {
    font-size:15px;
    font-size:1.5rem;
    line-height:1.2;
  }
  body, p {
    font-size:15px;
    font-size:1.5rem;
    line-height:1.4;
  }
}
@media only screen and (device-width: 768px), (device-width: 800px) {
}
@media only screen and (max-width: 767px) {
  body {
    -webkit-text-size-adjust:none;
    -ms-text-size-adjust:none;
    width:100%;
    min-width:0;
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
  }
  .container {
    min-width:0;
    margin-left:0;
    margin-right:0;
  }
  .row {
    width:100%;
    min-width:0;
    margin-left:0;
    margin-right:0;
  }
  .row .row .column, .row .row .columns { padding:0; }
  .column, .columns {
    width:auto !important;
    float:none;
    margin-left:0;
    margin-right:0;
  }
  .column:last-child, .columns:last-child { margin-right:0; }
  .offset-by-one, .offset-by-two, .offset-by-three, .offset-by-four, .offset-by-five, .offset-by-six, .offset-by-seven, .offset-by-eight, .offset-by-nine, .offset-by-ten, .offset-by-eleven, .centered { margin-left:0 !important; }
  .push-two, .push-three, .push-four, .push-five, .push-six, .push-seven, .push-eight, .push-nine, .push-ten { left:auto; }
  .pull-two, .pull-three, .pull-four, .pull-five, .pull-six, .pull-seven, .pull-eight, .pull-nine, .pull-ten { right:auto; }
  .row .phone-one.column:first-child, .row .phone-two.column:first-child, .row .phone-three.column:first-child, .row .phone-four.column:first-child, .row .phone-one.columns:first-child, .row .phone-two.columns:first-child, .row .phone-three.columns:first-child, .row .phone-four.columns:first-child { margin-left:0; }
  .row .phone-one.column, .row .phone-two.column, .row .phone-three.column, .row .phone-four.column, .row .phone-one.columns, .row .phone-two.columns, .row .phone-three.columns, .row .phone-four.columns {
    margin-left:4.4%;
    float:left;
    min-height:1px;
    position:relative;
    padding:0;
  }
  .row .phone-one.columns { width:21.68% !important; }
  .row .phone-two.columns { width:47.8% !important; }
  .row .phone-three.columns { width:73.9% !important; }
  .row .phone-four.columns { width:100% !important; }
  .row .columns.push-one-phone { left:26.08%; }
  .row .columns.push-two-phone { left:52.2%; }
  .row .columns.push-three-phone { left:78.3%; }
  .row .columns.pull-one-phone { right:26.08%; }
  .row .columns.pull-two-phone { right:52.2%; }
  .row .columns.pull-three-phone { right:78.3%; }
}
@media only screen and (max-width: 767px) {
  .block-grid.mobile { margin-left:0; }
  .block-grid.mobile li {
    float:none;
    width:100%;
    margin-left:0;
  }
}
.show-on-phones { display:none !important; }
.show-on-tablets { display:none !important; }
.show-on-desktops { display:block !important; }
.hide-on-phones { display:block !important; }
.hide-on-tablets { display:block !important; }
.hide-on-desktops { display:none !important; }
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px) {
  .hide-on-phones { display:block !important; }
  .hide-on-tablets { display:none !important; }
  .hide-on-desktops { display:block !important; }
  .show-on-phones { display:none !important; }
  .show-on-tablets { display:block !important; }
  .show-on-desktops { display:none !important; }
}
@media only screen and (max-width: 1280px) and (min-width: 768px) {
  .touch .hide-on-phones { display:block !important; }
  .touch .hide-on-tablets { display:none !important; }
  .touch .hide-on-desktops { display:block !important; }
  .touch .show-on-phones { display:none !important; }
  .touch .show-on-tablets { display:block !important; }
  .touch .show-on-desktops { display:none !important; }
}
@media only screen and (max-width: 767px) {
  .hide-on-phones { display:none !important; }
  .hide-on-tablets { display:block !important; }
  .hide-on-desktops { display:block !important; }
  .show-on-phones { display:block !important; }
  .show-on-tablets { display:none !important; }
  .show-on-desktops { display:none !important; }
}
table.show-on-desktops { display:table !important; }
table.hide-on-phones { display:table !important; }
table.hide-on-tablets { display:table !important; }
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px) {
  table.hide-on-phones { display:block !important; }
  table.hide-on-desktops { display:block !important; }
  table.show-on-tablets { display:block !important; }
}
@media only screen and (max-width: 767px) {
  table.hide-on-tablets { display:block !important; }
  table.hide-on-desktops { display:block !important; }
  table.show-on-phones { display:block !important; }
}
@media only screen and (max-width: 767px) {
  div.form-field input, div.form-field input.small, div.form-field input.medium, div.form-field input.large, div.form-field input.oversize, input.input-text, input.input-text.oversize, textarea, form.nice div.form-field input, form.nice div.form-field input.oversize, form.nice input.input-text, form.nice input.input-text.oversize, form.nice textarea {
    display:block;
    width:96%;
    padding:6px 2% 4px;
    font-size:18px;
  }
  form.nice div.form-field input, form.nice div.form-field input.oversize, form.nice input.input-text, form.nice input.input-text.oversize, form.nice textarea {
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
  }
  form.nice div.form-field.error small, form.nice small.error {
    padding:6px 2%;
    display:block;
  }
  form.nice div.form-field.error .small + small, form.nice .small + .error { width:auto; }
  form.nice div.form-field.error .medium + small, form.nice .medium + .error { width:auto; }
  form.nice div.form-field.error .large + small, form.nice .large + .error { width:auto; }
}
@media only screen and (max-width: 767px) {
  .button { display:block; }
  button.button {
    width:100%;
    padding-left:0;
    padding-right:0;
  }
}
@media only screen and (max-width: 767px) {
  dl.tabs.mobile, dl.nice.tabs.mobile {
    width:auto;
    margin:20px -20px 40px;
    height:auto;
  }
  dl.tabs.mobile dt, dl.tabs.mobile dd, dl.nice.tabs.mobile dt, dl.nice.tabs.mobile dd {
    float:none;
    height:auto;
  }
  dl.tabs.mobile dd a {
    display:block;
    width:auto;
    height:auto;
    padding:18px 20px;
    line-height:1;
    border:solid 0 #cccccc;
    border-width:1px 0 0;
    margin:0;
    color:#555555;
    background:#eeeeee;
    font-size:15px;
    font-size:1.5rem;
  }
  dl.tabs.mobile dd a.active {
    height:auto;
    margin:0;
    border-width:1px 0 0;
  }
  .nice.tabs.mobile {
    border-bottom:solid 1px #cccccc;
    height:auto;
  }
  .nice.tabs.mobile dd a {
    padding:18px 20px;
    border:none;
    border-left:none;
    border-right:none;
    border-top:1px solid #cccccc;
    background:#ffffff;
  }
  .nice.tabs.mobile dd a.active {
    border:none;
    background:#00a6fc;
    color:#ffffff;
    margin:0;
    position:static;
    top:0;
    height:auto;
  }
  .nice.tabs.mobile dd:first-child a.active { margin:0; }
  dl.contained.mobile, dl.nice.contained.mobile { margin-bottom:0; }
  dl.contained.tabs.mobile dd a { padding:18px 20px; }
  dl.nice.contained.tabs.mobile dd a { padding:18px 20px; }
}
@media only screen and (max-width: 767px) {
  .nav-bar { height:auto; }
  .nav-bar>li {
    float:none;
    display:block;
    border-right:none;
  }
  .nav-bar>li>a {
    text-align:left;
    border-top:1px solid #dddddd;
    border-right:none;
  }
  .nav-bar>li:first-child>a { border-top:none; }
  .nav-bar>li.has-flyout>a:after {
    content:"";
    width:0;
    height:0;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    border-top:4px solid #2a85e8;
    display:block;
  }
  .nav-bar>li:hover>a { font-weight:bold; }
  .nav-bar>li:hover ul { position:relative; }
  .flyout {
    position:relative;
    width:auto;
    top:auto;
    margin-right:-2px;
    border-width:1px 1px 0px 1px;
  }
  .flyout.right {
    float:none;
    right:auto;
    left:-1px;
  }
  .flyout.small, .flyout.large { width:auto; }
  .flyout p:last-child { margin-bottom:18px; }
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .video { padding-top:0; }
}
.main-nav li {
  display:inline-block;
  width:auto;
}
